{% extends 'blog/base.html' %}

{% block page_title %}
<article>
<h2>About postgres-contrib.org</h2>
{% endblock page_title %}

{% block page_content %}
<p><strong>postgres-contrib.org</strong> is a new website, started in <time style="display:none">2024-07</time>July 2024 by members of the PostgreSQL community, highlighting contributions to the project by the amazing people standing behind it.</p>
<p>Many contributions to and for the PostgreSQL Project happen outside of writing code. This was the topic of the <a href="https://wiki.postgresql.org/wiki/PGConf.dev_2024_Developer_Unconference#Increase_Community_Participation">Increase Community Participation</a> session at <a href="https://wiki.postgresql.org/wiki/PGConf.dev_2024">PGConf.dev 2024</a>.</p>
<p>The following people contributed to this list, and the general idea: <a href="https://mastodon.social/@ascherbaum">Andreas Scherbaum</a>, <a href="https://mastodon.world/@tchorix">Boriss Mejías</a>, <a href="https://postgresql.life/post/chris_ellis/">Chris Ellis</a>, <a href="https://postgresql.life/post/floor_drees/">Floor Drees</a>, <a href="https://postgresql.life/post/jimmy_angelakos/">Jimmy Angelakos</a> and <a href="https://postgresql.life/post/pavlo_golub/">Pavlo Golub</a>.</p>
<p>If you would like to add something to the list of contributions please contact us, either by <a href="mailto:info@postgresql.life">email</a> or on Telegram in the <a href="https://t.me/+Fodd5AvfOX82MGE8">PostgreSQL Social</a> channel.</p>

</article>

{% endblock page_content %}

{% block disclaimer %}
<span class="disclaimer"><small>
<br><br>
<p>postgres-contrib.org is a volunteer website, not affiliated or endorsed by the PostgreSQL project or the PostgreSQL Community Association.</p>
<p>Postgres, PostgreSQL and the Slonik Logo are trademarks or registered trademarks of the PostgreSQL Community Association of Canada, and used with
their permission.</p>
</small></span>
{% endblock disclaimer %}
