{% extends "blog/base.html" %}

{% block head_extra %}
    <meta property="og:author" content="{{ post.author.first_name }} {{ post.author.last_name }}">
    <meta property="article:author" content="{{ post.author.first_name }} {{ post.author.last_name }}">
    <meta property="article:published_time" content="{{ post.created_at|date:'c' }}">
    <meta property="og:updated_time" content="{{ post.last_modified|date:'c' }}">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ post.title|escapejs }}",
        "datePublished": "{{ post.created_at|date:'c' }}",
        "dateModified": "{{ post.last_modified|date:'c' }}",
        "author": {"@type": "Person", "name": "{{ post.author.first_name|escapejs }} {{ post.author.last_name|escapejs }}"},
        "publisher": {"@type": "Organization", "name": "postgres-contrib.org",
                      "logo": {"@type": "ImageObject", "url": "{{ site_url }}/static/pgcontrib.png"}},
        "mainEntityOfPage": "{{ site_url }}{{ request.path }}"
    }
    </script>
{% endblock %}

{% block page_title %}
<article>
    <h2>{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        <a href="{{ post.author.bloguser.www_url }}">{{ post.author.first_name }}&nbsp;{{ post.author.last_name }}</a>
        | <time style="display:none">{{ post.created_at.date|date:"c" }}</time>{{ post.created_at.date }}
        | Category: <a href="{% url 'blog_category' post.category %}">{{ post.category.name }}</a>
    </small>
    {{ post.body | safe }}
</article>
{% endblock page_content %}
