{% extends "blog/base.html" %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
             <h2>{% if post.category.name == 'news' %}&#x1F4F0;{% else %}&#x1F31F;{% endif %}&nbsp;<a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2> 
            <small>
                <a href="{{ post.author.bloguser.www_url }}">{{ post.author.first_name}}&nbsp;{{ post.author.last_name }}</a>
                | <time style="display:none">{{ post.created_at.date|date:"c" }}</time>{{ post.created_at.date }}
                | Category: <a href="{% url 'blog_category' post.category %}">{{ post.category.name }}</a>
            </small>
            {{ post.body|safe }}
            <hr>
        {% endfor %}
    {% endblock posts %}
    {% if page_obj and page_obj.paginator.num_pages > 1 %}
    <nav class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&larr; Newer posts</a>
        {% endif %}
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Older posts &rarr;</a>
        {% endif %}
    </nav>
    {% endif %}
{% endblock page_content %}
